<form id="frmCapturar" class="needs-validation" method="post" novalidate>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <div class="mt-5 w-50">
            <div class="shadow p-3 mb-5 bg-light rounded">
                <div class="row mb-4">
                    <div class="col-12">
                        <video id="videoElement" autoplay class="w-100"></video>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button id="btnCapture" class="btn btn-primary">
                        <i class="bi bi-camera"></i> Capturar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="ResultCompareFaces"></div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        const video = document.getElementById('videoElement');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(error => {
                console.error('Erro ao acessar a câmera: ', error);
            });

        $(document).ready(function () {
            $(document).on('click', '#btnCapture', function () {
                $('#btnCapture').prop('disabled', true);
                $('#divAguarde').show();

                const canvas = document.createElement('canvas');
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;

                const context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                video.pause();

                const dataUrl = canvas.toDataURL('image/png');

                $.ajax({
                    url: '@Url.Action("Capture", "Recognition")',
                    cache: false,
                    type: 'post',
                    datatype: 'json',
                    data: { photoCapture: dataUrl },
                    success: function (result) {
                        $('#divAguarde').hide();
                        $("#ResultCompareFaces").html(result.html);

                        var _offcanvas = document.getElementById('offcanvasCompareFaces');
                        var _bsOffcanvas = new bootstrap.Offcanvas(_offcanvas);
                        _bsOffcanvas.show();

                        _offcanvas.addEventListener('hidden.bs.offcanvas', function () {
                            $('#btnCapture').prop('disabled', false);
                            video.play();
                        });
                    }
                });
            });
        });
    </script>
}
